GROQ_API_KEY=your_groq_api_key
HUGGINGFACEHUB_API_TOKEN=your_hf_token
MONGO_URL=mongodb+srv://<user>:<pass>@cluster.mongodb.net/rag_app?retryWrites=true&w=majority
MYSQL_URL=mysql+pymysql://<user>:<pass>@<host>:<port>/rag_app
GOOGLE_API_KEY=your_google_api_key
QDRANT_URL=https://your-cluster.qdrant.io
QDRANT_API_KEY=your_qdrant_api_key
